<header class="main_header">
    <nav class="main_header-nav">
        <ul class="main_header_item-list">
            <li class="main_header-item">
                <a href="/">Shop</a>
            </li>
            <li class="main_header-item">
                <a href="/products">Products</a>
            </li>
            <li class="main_header-item">
                <a href="/cart">Cart</a>
            </li>
            <li class="main_header-item">
                <a href="/orders">Orders</a>
            </li>
            <li class="main_header-item">
                <a href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="main_header-item">
                <a href="/admin/products">Admin Products
                </a>
            </li>
        </ul>
    </nav>
</header>